* {
/*	font-family: sans-serif;*/
	font-family: nunito;
	font-weight: 200;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

v-tabs {
	display: flex;
	flex-direction: row;
	background-color: #eee;
/*	border: 2px solid;*/
	gap: 7px;
	padding: 17px;
}

.co1{
	padding: 0;
}

.tabCol {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
/*	border-right: 2px solid #aaa;*/
}

.tab {
	background-color: #ddd;
	border: 1px solid #999;
	margin-bottom: 14px;
	transition: 200ms;
	padding: 3px;
	border-radius: 4px;
	box-shadow: 0 0 0 #aaa;
	color: #333;
	text-align: left;
	max-width: 300px;
}

.tab:hover {
	background-color: #eee;
}

.tab.selected:hover {
	border-color: #19f18a;
}

.tab.selected {
	transform: translateX(10px);
	box-shadow: -10px 0 0 #19f18a;
}

.tab.sorgu:active {
/*	transform: scale(1.01);*/
	box-shadow: 0 0 0 7px #999;
}
.tab.sorgu {
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
}

input {
	border-radius: 4px;
	border: 1px solid #999;
}

.submitButton{
	background-color: #b3ffdb;
	padding: 8px;
	margin: 18px;
	border-radius: 7px;
}
.submitButton:hover{
/*	color: #222;*/
	padding: 8px 20px;
	background-color: #83ffc4;

}

.yukContent {
	flex: 1;
/*	background-color: red;*/
	display: flex;
}

select {
	border-radius: 4px;
	padding: 3px;
}